<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.resqapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/resqapplogo"
        android:label="ResQApp"
        android:roundIcon="@drawable/resqapplogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resqapp"
        tools:ignore="CoarseFineLocation"
        tools:targetApi="31">
        <activity
            android:name=".Coastguardprofile"
            android:exported="false" />
        <activity
            android:name=".Ambulanceprofile"
            android:exported="false" />
        <activity
            android:name=".Policeprofile"
            android:exported="false" />
        <activity
            android:name=".DashboardCoastGuardDepartment"
            android:exported="false" />
        <activity
            android:name=".DashboardAmbulanceDepartment"
            android:exported="false" />
        <activity
            android:name=".DashboardPoliceDepartment"
            android:exported="false" />
        <activity
            android:name=".Adminauthen"
            android:exported="false" />
        <activity
            android:name=".Fireprofile"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".UserOrAdminLogin"
            android:exported="false" />
        <activity
            android:name=".AccessLocUser"
            android:exported="false" />
        <activity
            android:name=".LocationSharingAdmin"
            android:exported="false" />
        <activity
            android:name=".Offline2"
            android:exported="false" />
        <activity
            android:name=".Offline1"
            android:exported="false" />
        <activity
            android:name=".AdminRegister"
            android:exported="false" />
        <activity
            android:name=".DashboardUser"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".UserRegister"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".Ocr"
            android:exported="false" />
        <activity
            android:name=".DashboardFireDepartment"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNJeKPHzCH9fpvuoH5zrMoVhn9jpYd0Zs" />
    </application>

</manifest>