<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ResQApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Resqapp"
        tools:ignore="CoarseFineLocation"
        tools:targetApi="31">
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".UserOrAdminLogin"
            android:exported="false" />
        <activity
            android:name=".ChooseDepartment"
            android:exported="false" />
        <activity
            android:name=".AccessLocUser"
            android:exported="false" />
        <activity
            android:name=".LocationSharing"
            android:exported="false" />
        <activity
            android:name=".Offline2"
            android:exported="false" />
        <activity
            android:name=".Offline1"
            android:exported="false" />
        <activity
            android:name=".AdminRegister"
            android:exported="false" />
        <activity
            android:name=".UserOrAdminRegister"
            android:exported="false" />
        <activity
            android:name=".DashboardUser"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".UserRegister"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0suozjYPrGqvDFHR9cJJyEUwuq283cH4" />
    </application>

</manifest>